<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        width: 97vw;
        height: 100vh;
        background: rgb(34, 193, 195);
        background: linear-gradient(
          0deg,
          rgba(34, 193, 195, 1) 0%,
          rgba(45, 253, 76, 1) 100%
        );
      }
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <h1>Cadastro no Banco de Dados</h1>
    <hr />
    <div class="container">
      <h1>Você selecionou {{nome}} com {{idade}} anos</h1>
    </div>
  </body>
</html>
